API_ID=7052875 # get this value from my.telegram.org
API_HASH=e348e17be7630965efdee3bf52c2a475 # get this value from my.telegram.org
BOT_TOKEN=2039569371:AAGdHwFwv1putoSmyZp6k_UEz3Ogg5LrwOw # get this value from @Botfather
MONGO_DB_URI=mongodb+srv://usergebot:usergebot@cluster0.riyjt.mongodb.net/tes?retryWrites=true&w=majority # get this value from mongodb.com
LOG_GROUP_ID=-1001818815940 # get this value from in your log group 
MUSIC_BOT_NAME=Kirito # your music bot name 
DURATION_LIMIT=240
AUTO_LEAVING_ASSISTANT=True
OWNER_ID=742495738 6350981043
AUTO_DOWNLOADS_CLEAR=True 
STRING_SESSION=BQDNvmIAgox_ANjVy51z9oLEZgBmWiOKRqil876pfw9loghvP2p8Evho4fOi_nw5oBES23MhEXAQgWuE8YoLUSZquxU1rB2lATxIe_9aazxBCi8qV9smORAJL5W12vHYdqjyID8qO_Wl-pZpiwUh_fnGGNDqzJ-OdeSy16gTtVWVKpmlV4byPvOf60kndBejRFpryFua7NEcJsar4E59UIyMT9LrLC_1kNEqttIVBxYWVmENfhgC0JR_2cPRP5ITLANADSZ5EG8BxfiCkql35BjAo2bJtO1FY_DgAR3d8E98l5cRv-CSIkrnxTT9_UhZnqFvwMJrZS-c_zONU4isMzJ3wDv7tAAAAAGONNHZAA
